<div class="container">
  <div class="picbio-container">
    <div class="box under">
      <img src="../../assets/img/abby2.JPG" alt="Me, being cute.">
    </div>
    <div class="box stack-top">
      <h3>Hey, I'm Abby.</h3>
      <p>
        Follow me to learn more,
        <br><br>
        After graduating from the University of Missouri with a degree in Fisheries and Wildlife, I worked as a research technician for a few years before deciding to further my education by enrolling in a Front-End Development bootcamp.
        <br><br>
        The SavvyCoders bootcamp was a swift and intense dive into the coding world. We learned JavaScript, Node.js, HTML, CSS, version control, GitHub, Netlify, Trello and ultimately how to put together and code our own projects.
        <br><br>
        From my education and professional experiences, I have learned how to optimize my time while working with many different teams and people. My experiences have taught me to be persistent, curious and efficient while also maintaining my creativity and passion for web development.
      </p>
    </div>
  </div>
  <div class="fact-container">
    <div>
      <h3>Fun Fact #1</h3>
      <p>My cat's name is Toothless. He has teeth.</p>
    </div>
    <div>
      <h3>Fun Fact #2</h3>
      <p>I can wiggle my ears.</p>
    </div>
    <div>
      <h3>Fun Fact #3</h3>
      <p>I like to travel (see: photo of me exploring Greece).</p>
    </div>
  </div>

</div>
