<div>
  <div class="hey-header">
    <h1>Say Hey!</h1>
    <br><br>
  </div>
  <div class="half-layout form">
    <div class="contact-photo">
      <img src="../../assets/img/hey.jpg">
    </div>
    <div class="form-div">
      <form action="https://formspree.io/kaemmerer.abby@gmail.com" method="POST" class="side-margin">
        <legend>Who are you?</legend>
        <div class="name-div bottom-margin">
          <div>
            <input type="text" id="first-name" name="firstName"/>
            <label for="first-name">
              <span>First Name</span>
            </label>
          </div>
          <div>
            <input type="text" id="last-name" name="lastName">
            <label for="last-name">
              <span>Last Name</span>
            </label>
          </div>


        </div>
        <legend>Email</legend>
        <div class="bottom-margin">
          <input
            type="email"
            name="email"
            placeholder="eddie@thehellfireclub.com"
          />
        </div>
        <legend>Phone</legend>
        <div class="bottom-margin">
          <input type="tel" name="phone"/>
        </div>
        <legend>Message</legend>
        <div>
          <textarea name="msg" cols="100" rows="5"></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="SEND" />
        </div>
      </form>
    </div>

  </div>
</div>
