<div>
  <div class="button-row">
    <h3 (click)="goToPersonal()">Personal</h3>
    <h3 (click)="goToProfessional()">Professional</h3>
  </div>
  <div>
    <div *ngIf="professionalClicked" class="professional-div">
      <div class="careers-container">
        <hr>
        <h3>Careers</h3>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h4>ZE Collective</h4>
            <p class="date">March 2023 - present</p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Digital Designer</strong>
              <span class="project-name">
                Various Projects
              </span>
              <span>
                <ul>
                  <li>                
                    Design and develop custom-coded websites that prioritize intuitive user interfaces and responsive design principles. 
                  </li>
                  <li>
                    Implement easily maintainable CMS interfaces, empowering clients to manage their content effectively. 
                  </li>
                  <li>
                    Enhance and optimize existing client websites to enhance performance and user experience. 
                  </li>
                  <li>
                    Create bespoke logos, graphics, and visual packages tailored to align with clients' unique brand identities and marketing goals.
                  </li>
                  <li>
                    Close collaboration with clients to thoroughly understand project requirements and deliver solutions that not only meet but exceed expectations. 
                  </li>
                </ul>
              </span>
              <br>
              <span>
                HTML 5, SCSS, Squarespace, Wordpress, Figma, UI/UX collaboration, Adobe Illustrator, Canva
              </span>
            </p>
          </div>
        </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Twisthink</h4>
              <p class="date">March 2022 - Oct 2023</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Software Developer</strong>
                <span class="project-name">
                  Enterprise Web Portal for Vermeer Dealers and Customers
                </span>
                <span>
                  Application included utilizing and displaying telemetrics data, language translations, charts and graphs for various types of data, desktop and mobile views, and google maps to locate dealerships and their machinery
                </span>
                <br>
                <span>
                  Angular 12-16, TypeScript, HTML 5, SCSS, Swagger, JIRA, Figma, UI/UX collaboration, unit tests, git version control, etc.
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>TDK Technologies</h4>
              <p class="date">August 2019 - March 2022</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Software Developer</strong>
                <span class="project-name">Enterprise Loyalty Rewards Platform</span>
                <span>
                  An internal application that allows administrators to manage Mastercard Rewards configurations at the business partner, program, and promotion levels.
                </span>
                <br>
                <span>
                  Angular 10, JavaScript, Java, CSS, HTML 5, Springboot, Swagger, Agile methodology, etc.
                </span>
              </p>
            </div>
          </div>
      </div>
      <div class="education-container">
        <hr>
        <h3>Education</h3>
        <hr>
          <div class="row">
            <div class="col-md-4">
              <h4>SavvyCoders</h4>
              <p class="date">March 2019 - June 2019</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Front End Development Bootcamp</strong>
                <span>
                  Curriculum included: HTML 5, CSS 3, JavaScript ES6, JSON,
                  Node.js, UX/UI, GitHub, Netlify, Trello, Wireframing and the Agile Methodology
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>University of Missouri, Columbia</h4>
              <p class="date">Aug 2012 - May 2016</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Bachelor of Sciences: Fisheries and Wildlife Sciences</strong>
                <span>
                  Minor: Biological Sciences
                </span>
              </p>
            </div>
          </div>    
      </div>
      <div class="skills-container">
        <hr>
        <h3>Skills</h3>
        <hr>
        <div class="row skills">
          <div class="col-md-4">
            <h4>Languages</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                JavaScript, TypeScript, HTML 5, CSS 3, SASS, Java, SQL
              </span>
            </p>
          </div>
        </div>
        <div class="row skills">
          <div class="col-md-4">
            <h4>Frameworks & Libraries</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                Angular (JS, 12-16), React, RxJS
              </span>
            </p>
          </div>
        </div>
        <div class="row skills">
          <div class="col-md-4">
            <h4>CMS</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                Squarespace, Wordpress, Shopify
              </span>
            </p>
          </div>
        </div>
        <div class="row skills">
          <div class="col-md-4">
            <h4>Tools</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                Adobe Illustrator, Canva, Node.js, NPM, Github, Bitbucket, Figma, Slack, Trello, Microsoft Teams, Jira, Miro, Azure, etc.
              </span>
            </p>
          </div>
        </div>
        <div class="row skills">
          <div class="col-md-4">
            <h4>Others</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                Time management, Interpersonal skills, UI/UX Design, Unit testing, Communication, Team integration, Problem Solving, Adaptability, Accountability, etc.
              </span>
            </p>
          </div>
        </div>
        <div class="row skills">
          <div class="col-md-4">
            <h4>Currently Learning</h4>
          </div>
          <div class="col-md-8">
            <p>
              <span>
                React, Back-end based skills
              </span>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <div *ngIf="personalClicked" class="personal-container">

      <div class="first-row">
        <div class="project-div sunny">
          <div class="screengrab">
            <img src="../../assets/img/swap.png" alt="Swap">
          </div>
          <div class="text">
            <h3>Clothing Swap Invitation & RSVP system</h3>
            <p class="desc">A mobile first clothing swap invitation application. Will include an RSVP system to allow the user to see who will be attending as well as messaging the host with the guest details.</p>
            <p class="tech">Tech stack: React, JavaScript, HTML, CSS, NPM</p>  
          </div>
          <a href="https://krabby-swap.netlify.app/" target="_blank" class="river">Check it out</a>
        </div>
        <div class="project-div mossy">
          <div class="screengrab">
            <img src="../../assets/img/adventure.png" alt="Adventure Awaits">
          </div>
          <div class="text">
            <h3>Adventure Awaits </h3>
            <p class="desc">A faux travel agency for booking tours, experiences and excursions. Built to practice my React skills. </p>
            <p class="tech">Tech stack: React, JavaScript, HTML, CSS, NPM </p>  
          </div>
          <a href="https://adventure-awaits-ak.netlify.app/" target="_blank" class="sunny">Check it out</a>
        </div>
        <div class="project-div river">
          <div class="screengrab">
            <img src="../../assets/img/tdh.png" alt="TDH">
          </div>
          <div class="text">
            <h3>TDH Portfolio</h3>
            <p class="desc">A portfolio for an individual offering a variety of custom creative projects including rugs and graphic design.</p>
            <p class="tech">Tech stack: TypeScript, JavaScript, Angular, Angular CLI, HTML, CSS, NPM </p>  
          </div>
          <a href="https://tdh-offical.netlify.app/" target="_blank" class="mossy">Check it out</a>
        </div>
      </div>
      <div class="second-row">
        <div class="project-div river">
          <div class="screengrab">
            <img src="../../assets/img/ocm.jpg" alt="Outdoor Color Magic">
          </div>
          <div class="text">
            <h3>Outdoor Color Magic</h3>
            <p class="desc">A mobile responsive application promoting a fictional landscape architecture company, their services, and how to hire them.</p>
            <p class="tech">Tech stack: JavaScript, HTML, CSS, NPM </p>  
          </div>
          <a href="https://ocm-fict.netlify.app/" target="_blank" class="sunny">Check it out</a>
        </div>
        <div class="project-div sunny">
          <div class="screengrab">
            <img src="../../assets/img/4paws.jpg" alt="Four Paws">
          </div>
          <div class="text">
            <h3>4PAWS</h3>
            <p class="desc">An eCommerce web application designed to help pet owners find the best products for their pets. It is a state driven, modular single page application with functional components.
            4PAWS was my capstone project built at the end of my coding bootcamp.</p>
            <p class="tech">Tech stack: JavaScript, HTML, CSS, NPM </p>  
          </div>
          <a href="https://abby-kaemmerer-capstone.netlify.com" target="_blank" class="mossy">Check it out</a>
        </div>
        <div class="project-div mossy">
          <div class="screengrab">
            <img src="../../assets/img/game.jpg" alt="The RGB Game">
          </div>
          <div class="text">
            <h3>The RGB Game</h3>
            <p class="desc">A simple project developed to practice JavaScript. Choose the color that coincides with the RBG code and you win!</p>
            <p class="tech">Tech stack: JavaScript, HTML, CSS, NPM </p>  
          </div>
          <a href="https://thegreatestcolorgameever.netlify.app/" target="_blank" class="river">Check it out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="in-progress-container">
    <h3 class="header">Sneak Peak of Latest Project</h3>
    <div class="in-progress-content">
      <div><img src="../../assets/img/ED.png" alt="Emily Duddy Art"></div>
      <div class="text">
        <h3>Emily Duddy Art</h3>
        <p>A website to showcase Emily Duddy's art, sell her current collection and allow people to contact her with inquires.</p>
        <p>Tech stack: Squarespace, JavaScript, HTML, CSS</p>  
        <span class="preview-button">
          <a href="https://emily-duddy.com" target="_blank">Check it out</a>
        </span>
      </div>
    </div>  
  </div>
  <div class="more-div">
    <h3>Looking for more?</h3>
    <p>See more of my projects
      <span>
        <a href="https://github.com/abbykaemmerer" target="_blank">here</a>
      </span>
    </p>
    <p>View my resume
      <span>
        <a href="https://www.dropbox.com/s/hxqll5vwz0rmp7n/RESUME1-2022.pdf?dl=0" target="_blank">here</a>
      </span>
    </p>
  </div>
</div>
