h4 {
  font-size: 16px;
}

.button-row {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin: 40px 0 20px 0;
  font-weight: 900;
  cursor: pointer;
}

.button-row h3 {
  border: 1px solid #1d1d1d;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px #1d1d1d;
}

.button-row h3:hover {
  background-color: #e3e1ce;
  color: #030303;
  box-shadow: inset 1px 1px #1d1d1d;
}

.more-div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 30px auto;
}

.more-div h3 {
  margin: 0 0 10px 0;
}

.more-div p {
  margin: 0;
}

.more-div span a {
  color: #b5b294;
  text-decoration: none;
}

.more-div span a:hover {
  color: #7d7b67;
}

.button-row h3:active {
  box-shadow: inset 1px 1px #1d1d1d;
}

/* PROFESSIONAL */
.professional-div {
  margin: 0 auto 30px auto;
  background:#b7af4673;
  color: #666228;
  border: 1px solid #1d1d1d;
  padding: 20px 30px;
  width: 700px;
  height: 900px;
}

.professional-div h3 {
  margin: 0;
}

.professional-div h4 {
  margin: 0;
}

.education-container, .skills-container {
  margin-top: 20px;
}

.row{
  margin: 10px 0;
}

.row p {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 12px;
}

.skills {
  margin: 0;
}

hr {
  margin: 15px 0;
}


/* PERSONAL */
.in-progress-container {
  width: 40%;
  border: 1px solid #1d1d1d;
  margin: 30px auto 0;
  min-width: 400px;
}
.in-progress-container .header {
  background: #1d1d1d;
  margin: 0;
  padding: 20px 10px 10px;
  color: #f5f5ee;
}
.in-progress-content {
  display: flex;
  border-top: 1px solid #1d1d1d;
  padding: 10px;
}

.in-progress-content img {
  width: 100%;
  max-width: 250px;
  box-shadow: 0px 0px 5px 1px black;
}

.in-progress-content div {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.in-progress-content .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.first-row, .second-row {
  display: flex;
  justify-content: space-evenly;
  color: #f5f5ee;
}

.project-div {
  width: 400px;
  min-width: 400px;
  border: 1px solid #1d1d1d;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-height: 500px;
}

.project-div h3, .resume-div h3 {
  border-bottom: 1px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
  padding: 15px 0;
}

.project-div a {
  border: 1px solid #1d1d1d;
  border-radius: 0;
  text-transform: uppercase;
  padding: 15px;
  margin-top: auto;
  color: #f5f5ee;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px #1d1d1d;
}

.project-div a:active {
  box-shadow: inset 1px 1px #1d1d1d;
}

.project-div a:hover {
  box-shadow: inset 1px 1px #1d1d1d;
}

.sunny {
  background-color: #de902d;
}

.mossy {
  background-color: #b8af46;
}

.river {
  background-color: #516aa6;
}

.italic {
  font-style: italic;
}

.screengrab img {
  width: 100%;
}

/* Responsive */

@media (max-width: 875px) { 
  .first-row {
    flex-direction: column;
    align-items: center;
  }
  .second-row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .professional-div {
    height: auto;
  }
 }

@media (max-width: 700px) {
  .professional-div {
    padding: 10px;
    width: auto;
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .project-div {
    width: 80%;
  }
}
