/* secondary color: #e3e1ce */

html {
  background: #f5f5ef;
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-family: 'Work Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
