<div class="grid-container">
    <div id="item-0" class="item">{{gridArray[0]}}</div>
    <div id="item-1" class="item"></div>
    <div id="item-2" class="item"></div>

    <div id="item-3" class="item"></div>
    <div id="item-4" class="item"></div>
    <div id="item-5" class="item"></div>

    <div id="item-6" class="item"></div>
    <div id="item-7" class="item"></div>
    <div id="item-8" class="item"></div>
</div>
<div class="button-container">
    <button (click)="moveLeft()">LEFT</button>
</div>
